@font-face {
    font-family: 'Eurostile';
    src: url('fonts/Eurostile.woff2') format('woff2'),
        url('fonts/Eurostile.woff') format('woff'),
        url('fonts/Eurostile.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Eurostile', sans-serif;
}

header,
section {
    height: calc(100vh - 140px);
    display: flex;
}

.background1 {
    background-image: url('assets/white_car.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo {
    height: 45rem;
    width: 42rem;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
}

.box {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

.background2 {
    background-image: url('assets/green-car.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    color: white;
}

.center {
    font-size: 5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.presentation-container {
    padding-left: 9rem;
    padding-right: 9rem;
    font-size: x-large;
}

.presentation-container p {
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.presentation img {
    height: 35px;
}

.icons-presentation {
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

a:hover {
    transform: scale(1.5);
}

.background3 {
    background-image: url('assets/rejoindre.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.team {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: x-large;
    margin-top: 60px;
}

.team p {
    font-size: 1.6rem;
}

.team h2 {
    margin-top: 20px;
}

.team h2 span {
    font-weight: lighter;
}



.slider-container {
    width: 80%;
    max-width: 600px;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 10px;
    background: #007bff;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    position: relative;
    margin-left: -4px;
    padding-right: 8px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #007bff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #007bff;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.ticks {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 12px;
    width: 95%;
    pointer-events: none;
}

.ticks span {
    display: block;
    width: 1px;
    height: 10px;
    background: white;

}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.slider-labels span {
    font-size: 18px;
    color: white;
    position: relative;
}


.team p {
    width: 75%;
}

footer {
    background-color: rgba(0, 0, 0, 1);
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    height: 5rem;
}

.footer-logo2 {
    height: 10rem;
    width: 9rem;
    margin-right: 40px;
}

.icons {
    display: flex;
    gap: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.h1-anim {
    opacity: 0;
    transform: translateX(-250px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.h1-anim.visible {
    animation: myAnim 1.2s forwards;
}

@keyframes animate {

    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/* animation "bienvenue" */
@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateX(-68px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateX(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateX(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }
}