@font-face {
    font-family: 'Eurostile';
    src: url('fonts/Eurostile.woff2') format('woff2'),
        url('fonts/Eurostile.woff') format('woff'),
        url('fonts/Eurostile.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Eurostile', sans-serif;
    overflow-x: hidden;
}

header,
section {
    height: calc(100vh - 140px);
    display: flex;
    position: relative;
}

.background1 {
    background: url('assets/white_car.png') center/cover no-repeat;
}

.background2 {
    background: url('assets/green-car.png') center/cover no-repeat;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    color: white;
}

.background3 {
    background: url('assets/rejoindre.png') center/cover no-repeat;
    height: 100vh;
}

.logo {
    height: 45rem;
    width: 42rem;
    margin: -50px auto 0;
}

.box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

.center {
    font-size: 5rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.presentation-container {
    padding: 0 9rem;
    font-size: x-large;
}

.presentation-container p {
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.presentation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.presentation img {
    height: 45px;
}

.icons-presentation {
    display: flex;
    gap: 50px;
    padding-top: 20px;
}

a:hover {
    transform: scale(1.5);
}

.team {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: x-large;
    margin-top: 60px;
}

.team p {
    font-size: 1.6rem;
    width: 75%;
}

.team h2 {
    margin-top: 20px;
}

.team h2 span {
    font-weight: lighter;
}

input[type="range"] {
    width: 100%;
    margin: 20px 0;
}

.slider-container {
    width: 90%;
    margin: 20px 0;
}

.slider-labels,
.ticks {
    position: relative;
    width: 100%;
}

.slider-labels span,
.ticks span {
    position: absolute;
    transform: translateX(-50%);
}

.slider-labels span:nth-child(1),
.ticks span:nth-child(1) {
    left: 0%;
}

.slider-labels span:nth-child(2),
.ticks span:nth-child(2) {
    left: 10.2%;
}

.slider-labels span:nth-child(3),
.ticks span:nth-child(3) {
    left: 19.2%;
}

.slider-labels span:nth-child(4),
.ticks span:nth-child(4) {
    left: 43.6%;
}

.slider-labels span:nth-child(5),
.ticks span:nth-child(5) {
    left: 72.57%;
}

.slider-labels span:nth-child(6),
.ticks span:nth-child(6) {
    left: 90%;
}

.ticks span {
    display: block;
    width: 1px;
    height: 10px;
    background: black;
    top: -30px;
}

footer {
    background-color: rgba(0, 0, 0, 1);
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-logo {
    height: 5rem;
}

.footer-logo2 {
    height: 10rem;
    width: 9rem;
    margin-right: 40px;
}

.icons {
    display: flex;
    gap: 20px;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1.2s ease-out, transform 1.2s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.h1-anim {
    opacity: 0;
    transform: translateX(-250px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.h1-anim.visible {
    animation: myAnim 1.2s forwards;
}

@media (min-width: 1024px) {

    .icons-presentation a i,
    .team a i.fa-discord {
        font-size: 3.5rem;
    }

    a:hover {
        transform: scale(1.7);
        transition: transform 0.3s ease;
    }

    .team a i.fa-discord {
        padding-top: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1623px) {
    .logo {
        height: 40rem;
        width: 37rem;
    }

    .presentation-container {
        padding: 0 5rem;
    }

    .center {
        font-size: 4rem;
    }

    .presentation img {
        height: 40px;
    }

    .icons-presentation {
        gap: 40px;
    }

    .icons-presentation a i {
        font-size: 3rem;
    }

    .team {
        font-size: large;
        padding-bottom: 150px;
    }

    .team p {
        font-size: 1.4rem;
        width: 80%;
    }

    .slider-labels span {
        font-size: 16px;
    }

    .footer-logo {
        height: 4rem;
    }

    .footer-logo2 {
        height: 8rem;
        width: 7rem;
    }

    footer {
        flex-direction: row;
        height: auto;
        padding: 15px;
        gap: 15px;
    }

    .icons {
        gap: 15px;
    }
}

@media (max-width: 768px) {

    header,
    section {
        height: auto;
    }

    .background1,
    .background2,
    .background3 {
        background-size: cover;
        background-position: center;
    }

    .background2 {
        height: auto;
        padding: 20px 0;
    }

    .background3 {
        height: auto;
        padding-bottom: 100px;
    }

    .logo {
        height: 35rem;
        width: 32rem;
    }

    .presentation-container {
        padding: 0 2rem;
    }

    .center {
        font-size: 3rem;
    }

    .presentation-container p {
        font-size: 1.2rem;
    }

    .presentation img {
        height: 30px;
    }

    .icons-presentation {
        gap: 30px;
    }

    .team {
        font-size: medium;
        padding-bottom: 150px;
    }

    .team p {
        font-size: 1.2rem;
        width: 85%;
    }

    .slider-labels span {
        font-size: 14px;
    }

    .footer-logo {
        height: 3rem;
    }

    .footer-logo2 {
        height: 6rem;
        width: 5rem;
    }

    footer {
        flex-direction: row;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .icons {
        gap: 10px;
    }
}

@media (max-width: 480px) {
    html {
        width: 100%;
    }

    .logo {
        height: 20rem;
        width: 17rem;
    }

    .box {
        display: none;
    }

    .background1 {
        background-image: url('assets/white_car.png');
    }

    .background2 {
        background-image: url('assets/green-car-mobile.png');
        height: min-content;
    }

    .background3 {
        background-image: url('assets/rejoindre22.png');
        height: min-content;
        padding-bottom: 10rem;
    }

    .presentation-container {
        padding: 0 1rem;
    }

    .center {
        font-size: 2rem;
    }

    .presentation {
        display: flex;
        justify-content: center;
        font-size: 0.8rem;
    }

    .presentation-container p {
        font-size: 1.1rem;
        margin-bottom: 0;
    }

    .presentation img {
        height: 25px;
    }

    .social {
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .icons-presentation {
        gap: 20px;
        display: flex;
        justify-content: center;
        padding: 5px 0 20px;
    }

    .team {
        font-size: small;
        height: min-content;
        padding-bottom: 0;
    }

    .team p {
        font-size: 1.1rem;
        width: 90%;
    }

    .slider-labels span {
        font-size: 12px;
    }

    .footer-logo {
        height: 2rem;
    }

    .footer-logo2 {
        height: 4rem;
        width: 3rem;
    }

    footer {
        flex-direction: row;
        height: auto;
        padding: 10px;
        gap: 10px;
    }

    .icons {
        gap: 10px;
    }
}

@media (min-width: 1600px) {
    .team {
        font-size: 1.8rem;
        padding-bottom: 60px;
    }

    .team h2 {
        font-size: 2.5rem;
    }

    .team p {
        font-size: 1.4rem;
        width: 70%;
    }

    .footer-logo2 {
        height: 8rem;
        width: 7rem;
    }

    .icons {
        gap: 30px;
    }

    footer {
        height: 120px;
        padding: 0 50px;
    }

    .background3 {
        padding-bottom: 140px;

        .team a i.fa-discord {
            font-size: 4rem;
            padding-top: 20px;
        }

        .team a:hover i.fa-discord {
            transform: scale(1.5);
            transition: transform 0.3s ease;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .box {
        display: none;
    }

}


@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateX(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateX(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateX(-68px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateX(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateX(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateX(0);
    }
}